//COLORS
$text:#192229;
$firstColor: #F42B7E;
$secondColor: #252823;
$thridColor: #1B1B1B;
$subtitle:#6B6F72;
$err:red;
//SETTINGS
$maxWidth: 1980px;
$padWrapperMobile: .75rem;
$padWrapperDesktop: 2rem;
//MEDIA'S
$bk-laptop: 1024px;
$mediaTablet: 0px;