//COLORS
$text: #192229;
$firstColor: #f42b7e;
$secondColor: #252823;
$thridColor: #1b1b1b;
$subtitle: #6b6f72;
$err: red;
//SETTINGS
$maxWidth: 1980px;
$padWrapperMobile: 0.75rem;
$padWrapperDesktop: 2rem;
//MEDIA'S
$bk-laptop: 1024px;
$mediaTablet: 0px;
