@import '../../styles/base';

.modal-context.close{
  display: none;
}

.modal-context {
	min-height: 100vh;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1000;
	position: fixed;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
  overflow: auto;

	&.modal-open > body {
		overflow: hidden;
	}

	.container-modal {
		background: linear-gradient(141.52deg, #232826 43.75%, #1b1b1b 100%);
		min-width: 510px;
		width: 510px;
		min-height: 638px;
		border-radius: 8px;
		color: #fff;
    margin: 2rem;
	}
}
