@import '../../styles/base';

.header{
    background-color: $secondColor;
}
.header-mobile{
    width: 100%;
    &__wrapper{
        background-color: $secondColor;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;
        z-index: 100;
    }
    .logo {
        height: 68px;
        width: 68px;
        svg{
            width: 100%;
            height: 100%;
        }
    }
}

.header-mobile .menu{
    &-container{
        position: fixed;
        height: 100vh;
        width: 100vw;
        bottom: 100%;
        left: 0;
        transition: transform .5s ease;

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: #000000, $alpha: 0.56);
    }
}
.header-mobile.open .menu{
    &-container{
        transform: translate3d(0, 100%, 0);
    }
}

.header-desktop{
    width: 100%;
    background-color: $thridColor;
    height: 140px;
    display: flex;
    align-items: center;
    transition: height .4s ease, color .4s ease;

    &.scroll{
        height: 75px;
        position: fixed;
        top: 0;
        background-color: $secondColor;
        .logo{
            transform: scale(.8);
        }
    }
    &__wrapper{
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 1980px;
        margin: 0 auto;
        padding-left: 150px;
        padding-right: 150px;
        .menu {
            flex: 1;
            display: flex;
            justify-content: flex-end;

            .navigator > ul{
                column-gap: 40px;
                >:last-child{
                    margin-left: 100px;
                }
            }
        }
    }
    .logo {
        height: 75px;
        width: 75px;
        transition: transform .4s ease;
        svg{
            width: 100%;
            height: 100%;
        }
    }
}